@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  color: #fff;
}
a:hover,
a.active {
  color: #ff553e !important;
}
body {
  background-color: black;
  overflow-x: hidden;
}
h1,h2  {
  font-family: "Orbitron", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.main-button {
  width: 200px;
  height: 65px;
  border: 2px solid var(--primary-color);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 500ms;
}
.main-button:hover {
  color: var(--primary-color);
  border: 2px solid var(--white-color);
}

.scroll {
  background-color: #00000091;
  box-shadow: 0 8px 10px #21252957;
  color: var(--primary-color);
}
/* Variable Define */
:root {
  --primary-color: #ff553e;
  --secondary-color: #333;
  --white-color: #fff;
  --black-color: #000;  
}

/*Custom Scrollbar*/
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
.wave {
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

/* Navigation */
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 9999;
  top: 0;
}
.navigation-wrap .nav-item {
  padding: 0 0.5rem;
}
.navigation-wrap .nav-link {
  color: var(--white-color);
  letter-spacing: 0.1rem;
  transition: all 200ms linear;
}
.navigation-wrap .nav-link:hover,
.navigation-wrap .nav-link.active {
  color: var(--primary-color);
}
.navigation-wrap .nav-item {
  padding: 0 auto;
}
/* BRAND */
.navigation-wrap .navbar-brand .brand_name {
  font-family: "Orbitron", sans-serif;
}
.navigation-wrap {
  background-color: transparent;
}
/* carousel */
#home .carousel-caption {
  color: var(--white-color);
  z-index: 999;
  top: 20rem;
}
.carousel-caption p {
  font-size: 2rem;
}
#home .carousel-indicators [data-bs-target] {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}
/* About us  */
#aboutus {
  position: relative;
}
#aboutus h1 {
  font-size: 4rem;
  font-weight: 600;
}
#aboutus .about_line {
  line-height: 2;
}
#aboutus .main-button {
  width: 200px;
  height: 65px;
  border: 2px solid var(--primary-color);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  transition: 500ms;
}
#aboutus .main-button:hover {
  color: var(--primary-color);
  border: 2px solid var(--white-color);
}

/* COURSES */
#courses {
    position: relative;
    background-color: var(--white-color);
}
#courses h1 {
  font-size: 4rem;
  font-weight: 600;
}
#courses h2 {
  font-size: 2.5rem;
}
#courses .main-button {
    font-weight: 600;
}
#courses .banner-btn {
  position: absolute;
  width: 100%;
  padding: 0 1rem;
  left: 0;
  bottom: 15rem;
}
#courses .course_img {
  overflow: hidden;
}
#courses .course_img img {
  max-width: 100%;
  transition: transform 2s;
  cursor: pointer;
}
#courses .card:hover .course_img img {
  transform: scale(1.3);
}
#courses .card:hover {
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.5), -12px -15px 20px rgba(0, 0, 0, 0.5);
    transition: 700ms;
}
#courses .wave_line {
    margin-bottom: 6rem;
}

/* TRAINERS SECTION */
#trainers  h1 {
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--white-color);
}
#trainers h2 {
    font-size: 2.8rem;
    color: var(--white-color);
}
#trainers h1 span {
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 600;
}
#trainers .trainer_container {
  position: relative;
}
#trainers .trainer-info {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
}
/* #trainers .trainer_container:nth-child(2) {
  color: var(--black-color);
} */
#trainers .trainer_container:hover {
  cursor: pointer;
}
#trainers .trainer_container{
  max-width: 100%;
  overflow: hidden;
  color: var(--white-color);
}
#trainers .trainer_container img {
  transition: transform 2s;
}
#trainers .trainer_container:hover img{
  opacity: 0.6;
  transform: scale(1.2);
}

/* WORKOUT SCHEDULE */
#schedule {
  background-color: var(--white-color);
  position: relative;
}
#schedule h1 {
  font-size: 4rem;
  font-weight: 600;
}
#schedule h2 {
  font-size:2.8rem;
  color: var(--primary-color);
}
table,tr,td {
  border: 2px solid var(--white-color);
}
#schedule .schedule_line {
  margin-bottom: 12rem;
}

/* BLOG */
#blog {
  position: relative;
} 
#blog h1 {
  font-size: 4rem;
  color: var(--white-color);
  font-weight: 600;
}
#blog h2 {
  font-size: 2.8rem;
  color: var(--primary-color);
}
#blog a {
  color: var(--black-color);
  transition: 500ms;
}
#blog a:hover {
  color: var(--primary-color);
}
#blog .blog_info:nth-child(2) a {
  color: var(--white-color);
}
/* ACCORDIAN */
#accordian {
  background-color: var(--white-color);
}
#accordian h1 {
  font-size: 4rem;
}
/* CONTACT */
#contact {
  background-color: var(--secondary-color);
  background: linear-gradient(to right,rgb(0 0 0 / 43%), rgb(0 0 0 / 76%)0) , url(../img/contact.jpeg) no-repeat fixed;
  background-size: cover;
  background-position: right;
  position: relative;
}
#contact h1 {
  font-size: 3rem;
  color: var(--white-color);
}
#contact form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--white-color);
  margin: 3rem auto;
  color: var(--white-color);
}
#contact form input::placeholder {
  color: var(--white-color);
  text-align: center;
}
#contact .icon {
  position: absolute;
  bottom: 0;
  right: 1rem;
  color: var(--white-color);
  width: 70px;
  height: 70px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  font-size: 4rem;
  text-align: center;
  transition: 600ms;
}
#contact .icon:hover {
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  bottom: 4px;
}
#contact a i{
  font-size: 1.8rem;
  padding: 0 10px;
  transition: 500ms;
}